
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Booty</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 tryme">
        <div class="row tryme2">
          <div class="col-md-5"></div>
          <div class="col-md-7 login-form">
            <h2 class="heading-secondary">Auditors Hub</h2>
            <div class="form__group">
              <input type="text" placeholder="Username" name="user" class="form-control form__input">
            </div>
            <div class="form__group">
              <input type="passsword" placeholder="Password" name="password" class="form-control form__input">
              <a><div routerLink="/dashboard" class="btn btn--blueish">Login &rarr;</div></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
